<!DOCTYPE html>
<html>
<head>
<link href="http://bootswatch.com/lumen/bootstrap.min.css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<title>AlgoMaster |  </title>
  
</head>
<body>

        <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand"><i class="icon-map-marker"> </i>AlgoMaster</a>
          
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
                



    
           
           <ul class="nav navbar-nav navbar-right">
           {% if not user.is_authenticated %} 
          
          <li><a href="/accounts/login/?next=/dashboard/">login</a></li>{% elif user.is_authenticated %}
          <li><a href="/submit/">Submit Resource</a></li>         
          <li><a href="/accounts/logout/?next=///">Logout</a></li>
           {% endif %}              
          </ul>
           </div>
      </div>
    </div>
    <br/>

	 {% block content %}
      {% endblock %}      
 

  <script src="//code.jquery.com/jquery.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script> 
</body>
</html>

<body>